@layer component {
    :host {
        border: 0.075rem solid gray;
        border-radius: 0.25rem;
        background-color: #fff;
        width: 10rem;
        height: 3rem;
        position: absolute;
        cursor: move;
    }
}
